<div class="row mb-2" *ngIf="alert$ | async">
    <div class="col-lg-12 mb-2 f-s-14">
        <m-alert
            [message]="(alert$ | async)?.message"
            [kind]="(alert$ | async)?.kind"
            [dismissible]="(alert$ | async)?.dismissable">
        </m-alert>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--ngviewer">
            <div class="m-portlet__head compact">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            User access roles
                        </h3>
                    </div>
                </div>

                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <div class="pr-2">
                                <mat-form-field floatLabel="never" style="width: 300px">
                                    <input
                                        matInput
                                        placeholder="Type to filter..."
                                        [value]="needle$ | async"
                                        (keyup)="onNeedleChange($event.target.value)" />
                                </mat-form-field>
                            </div>
                        </li>

                        <li class="m-portlet__nav-item">
                            <a
                                href="javascript:void(null)"
                                class="m-portlet__nav-link m-portlet__nav-link--icon"
                                title="Refresh"
                                matTooltip="Click to refresh"
                                matTooltipPosition="above"
                                (click)="onReload()">
                                <i class="la la-refresh"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__preview p-0">
                    <table
                        class="table-hover"
                        mat-table
                        [dataSource]="dataSource$ | async"
                        matSort
                        [matSortActive]="(sort$ | async).active"
                        [matSortDirection]="(sort$ | async).direction"
                        matSortDisableClear
                        (matSortChange)="onSortChange($event)">
                        <!-- ID column -->
                        <ng-container [matColumnDef]="column.ProjectId">
                            <th mat-header-cell mat-sort-header class="cell-uid" *matHeaderCellDef>
                                Project ID
                            </th>

                            <td mat-cell *matCellDef="let obj" class="cell-uid">
                                <strong>{{ obj.projectId }}</strong>
                            </td>
                        </ng-container>

                        <!-- Title column -->
                        <ng-container [matColumnDef]="column.ProjectTitle">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Project Title
                            </th>

                            <td mat-cell *matCellDef="let obj">
                                <!--
                                <a routerLink="/projects/{{ obj.projectId }}/manage" matTooltip="Click to manage" matTooltipPosition="above">
                                    <strong>{{ obj.projectTitle }}</strong>
                                </a>
                                -->

                                <strong>{{ obj.projectTitle }}</strong>
                            </td>
                        </ng-container>

                        <!-- Group roles column -->
                        <ng-container [matColumnDef]="column.GroupRoles">
                            <th mat-header-cell mat-sort-header class="cell-role-list" *matHeaderCellDef>
                                <span matTooltip="Personnel groups are managed at corporate LDAP service" matTooltipPosition="above">
                                    Group Roles
                                    <i class="la la-question-circle hint-icon dimmed"></i>
                                </span>
                            </th>

                            <td mat-cell *matCellDef="let obj" [ngSwitch]="obj.groupRoles">
                                <ng-container *ngSwitchCase="null">
                                    <strong class="light-gray">None</strong>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    <div class="block group-role" *ngFor="let entry of obj.groupRoles | keyvalue">
                                        <strong class="v-a-middle light-gray mr-1">{{ roleName(entry.value) }}</strong>
                                        <mat-icon [inline]="true" class="v-a-middle metal">group</mat-icon>

                                        <a routerLink="/personnel/groups/{{ entry.key }}" class="v-a-middle ml-05" matTooltip="Click to manage" matTooltipPosition="above">
                                            <strong>{{ entry.key }}</strong>
                                        </a>
                                    </div>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- User role column -->
                        <ng-container [matColumnDef]="column.UserRole">
                            <th mat-header-cell mat-sort-header class="cell-role" *matHeaderCellDef>
                                <span matTooltip="Access role assigned to current user explicitly" matTooltipPosition="above">
                                    User Role
                                    <i class="la la-question-circle hint-icon dimmed"></i>
                                </span>
                            </th>

                            <td mat-cell *matCellDef="let obj">
                                <div class="clickable" [matMenuTriggerFor]="roleMenu" [matMenuTriggerData]="{ role: obj }">
                                    <a href="javascript:void(null)" matTooltip="Click to change" matTooltipPosition="above">
                                        <strong>{{ roleName(obj.userRole) || 'None' }}</strong>
                                    </a>

                                    <mat-icon [inline]="true" class="metal v-a-middle">keyboard_arrow_down</mat-icon>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Project databases column -->
                        <ng-container [matColumnDef]="column.ProjectDbs">
                            <th mat-header-cell mat-sort-header class="cell-role-long" *matHeaderCellDef>
                                Databases
                            </th>

                            <td mat-cell *matCellDef="let obj" [ngSwitch]="obj.userRole">
                                <span class="dimmed" *ngSwitchCase="null">None</span>

                                <div [class.mt-1]="!obj.isGlobal" [class.mb-1]="!obj.isGlobal" *ngSwitchCase="accessRole.Consumer">
                                    <mat-checkbox
                                        color="primary"
                                        matTooltip="All current and future databases"
                                        matTooltipPosition="above"
                                        [checked]="obj.isGlobal"
                                        (change)="onGlobalDbsChange(obj, $event.checked)">
                                        <strong class="f-w-600 v-a-middle checkbox-label">All</strong>
                                    </mat-checkbox>

                                    <ng-container *ngIf="!obj.isGlobal">
                                        <div class="block group-role" *ngFor="let db of obj.projectDbs">
                                            <mat-checkbox color="primary" [checked]="obj.dbs.indexOf(db) !== -1" (change)="onDbChange(obj, db, $event.checked)">
                                                <span class="f-w-400 v-a-middle checkbox-label">
                                                    {{ db }}
                                                </span>
                                            </mat-checkbox>
                                        </div>
                                    </ng-container>
                                </div>

                                <div matTooltip="All current and future databases" matTooltipPosition="above" *ngSwitchDefault>
                                    <mat-icon class="v-a-middle blue f-s-21">done_all</mat-icon>
                                    <strong class="f-w-600">All</strong>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Effective role column -->
                        <ng-container [matColumnDef]="column.EffectiveRole">
                            <th mat-header-cell mat-sort-header class="cell-role-list" *matHeaderCellDef>
                                <span matTooltip="The most privileged role: either inherited from group or assigned personally" matTooltipPosition="above">
                                    Effective Role
                                    <i class="la la-question-circle hint-icon dimmed"></i>
                                </span>
                            </th>

                            <td mat-cell *matCellDef="let obj">
                                <div class="block group-role">
                                    <strong class="light-gray">{{ roleName(obj['effectiveRole']) || 'None' }}</strong>
                                </div>

                                <div class="block group-role" *ngIf="obj['effectiveGroup']">
                                    <span class="v-a-middle light-gray f-w-400 mr-1">inherited from</span>
                                    <mat-icon [inline]="true" class="v-a-middle metal">group</mat-icon>

                                    <a routerLink="/personnel/groups/{{ obj['effectiveGroup'] }}" class="v-a-middle ml-05" matTooltip="Click to manage" matTooltipPosition="above">
                                        <strong>{{ obj['effectiveGroup'] }}</strong>
                                    </a>
                                </div>

                                <div class="block group-role" *ngIf="obj['effectiveAllDbs']">
                                    <div class="v-a-middle light-gray f-w-400 mr-1">
                                        <mat-icon class="v-a-middle blue f-s-21">done_all</mat-icon>
                                        <span>All databases available</span>
                                    </div>
                                </div>

                                <div class="block group-role" *ngIf="!obj['effectiveAllDbs']" [ngSwitch]="obj['effectiveDbs']?.length">
                                    <span class="v-a-middle light-gray f-w-400 mr-1" *ngSwitchCase="0">
                                        No databases available
                                    </span>

                                    <span class="v-a-middle light-gray f-w-400 mr-1" *ngSwitchDefault>
                                        Databases:
                                        <strong>{{ obj['effectiveDbs'].join(', ') }}</strong>
                                    </span>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Table rows -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                            [class.dimmed]="loading$ | async"
                            [class.deleted]="row.isDeleted">
                        </tr>
                    </table>

                    <div class="card card-body blank p-0 table-row" *ngIf="(dataSource$ | async)?.data?.length === 0">
                        <div class="inner-text f-s-14 f-w-400" [class.dimmed]="!(loading$ |async)">
                            {{ (loading$ |async) ? 'Loading data from server...' : 'No data to display' }}
                        </div>
                    </div>

                    <mat-paginator
                        [length]="total$ | async"
                        [pageSize]="(page$ | async).pageSize"
                        [pageSizeOptions]="pageSizes"
                        [pageIndex]="(page$ | async).pageIndex"
                        (page)="onPageChange($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-menu #roleMenu="matMenu">
    <ng-template matMenuContent let-role="role">
        <button mat-menu-item [disabled]="!role.userRole" (click)="onRoleReset(role)">
            None
        </button>

        <button mat-menu-item [disabled]="role.userRole === accessRole.Consumer" (click)="onRoleChange(role, accessRole.Consumer)">
            {{ roleName(accessRole.Consumer) }}
        </button>

        <button mat-menu-item [disabled]="role.userRole === accessRole.Maintainer" (click)="onRoleChange(role, accessRole.Maintainer)">
            {{ roleName(accessRole.Maintainer) }}
        </button>

        <button mat-menu-item [disabled]="role.userRole === accessRole.Admin" (click)="onRoleChange(role, accessRole.Admin)">
            {{ roleName(accessRole.Admin) }}
        </button>
    </ng-template>
</mat-menu>
