{erl_opts, [debug_info, maps_support]}.

{deps_dir, "deps"}.
{sub_dirs, ["release", "apps"]}.
{lib_dirs, ["apps"]}.

{deps, [
    {aplib, ".*", {git, "https://github.com/toadmaninteractive/aplib", {branch, "main"}}},
    {cerberus, ".*", {git, "https://github.com/toadmaninteractive/cerberus", {branch, "main"}}},
    {igor, ".*", {git, "https://github.com/igorlang/igor-erlang", {branch, "main"}}},
    {ecouch, ".*", {git, "https://github.com/toadmaninteractive/ecouch", {branch, "main"}}},
    {catalogue, ".*", {git, "https://github.com/toadmaninteractive/catalogue", {branch, "main"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc", {tag, "0.8.0"}}},
    {jose, ".*", {git, "https://github.com/artplant/jose", {branch, "master"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {tag, "v3.1.0"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", {tag, "2.6.1"}}},
    {gun, ".*", {git, "https://github.com/ninenines/gun", {tag, "2.0.0-rc.1"}}},
    {epgsql, ".*", {git, "https://github.com/epgsql/epgsql", {tag, "4.2.1"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy", {tag, "1.5.2"}}},
    {quickrand, ".*", {git, "https://github.com/okeuday/quickrand", {tag, "v1.7.5"}}},
    {uuid, ".*", {git, "https://github.com/okeuday/uuid", {tag, "v1.7.5"}}}
]}.
