<div id="m_header_topbar" class="m-topbar m-stack m-stack--ver m-stack--general m-topbar-lists">
    <div class="m-stack__item m-topbar__nav-wrapper">
        <ul class="m-topbar__nav m-nav m-nav--inline" style="margin-top: 5px">
            <!-- TODO: find a purpose for quick search -->
            <!--
            <m-search-dropdown *ngIf="searchType === 'search-dropdown'"></m-search-dropdown>
            <m-search-default *ngIf="searchType === 'search-default'"></m-search-default>
            -->

            <!-- TODO: find a purpose for notifications and quick actions -->
            <!--
            <m-notification></m-notification>
            <m-quick-action></m-quick-action>
            -->

            <m-project-switch></m-project-switch>
            <m-database-switch></m-database-switch>

            <m-user-profile
                [fullName]="fullName$ | async"
                [companyTitle]="companyTitle"
                (signOut)="signOut()">
            </m-user-profile>

            <!-- TODO: think how to use quick sidebar -->
            <!--
            <li id="m_quick_sidebar_toggle" class="m-nav__item">
                <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
                    <span class="m-nav__link-icon">
                        <i class="flaticon-grid-menu"></i>
                    </span>
                </a>
            </li>
            -->
        </ul>
    </div>
</div>
