:host {
    .m-loading-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    ::ng-deep {
        .mat-progress-bar-background {
            opacity: 0;
        }

        .mat-progress-bar-buffer {
            opacity: 0.3;
        }
    }
}

.m-header-head {
    background-color: rgb(40, 42, 60);
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    -moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
}
