.group-role {
    line-height: 20px;
}

ul.members {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-inline-start: 0;
}

li.member {
    list-style-type: none;
    padding: 0 15px;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.checkbox-label {
    line-height: 23px;
}
