<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--ngviewer">
            <div class="m-portlet__head compact">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            <!-- Registered personnel groups -->
                        </h3>
                    </div>
                </div>

                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <div class="pr-2">
                                <mat-form-field floatLabel="never" style="width: 300px">
                                    <input
                                        matInput
                                        placeholder="Type to filter..."
                                        [value]="needle$ | async"
                                        (keyup)="onNeedleChange($event.target.value)" />
                                </mat-form-field>
                            </div>
                        </li>

                        <li class="m-portlet__nav-item">
                            <a
                                href="javascript:void(null)"
                                class="m-portlet__nav-link m-portlet__nav-link--icon"
                                title="Refresh"
                                matTooltip="Click to refresh"
                                matTooltipPosition="above"
                                (click)="onReload()">
                                <i class="la la-refresh"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__preview p-0">
                    <table
                        class="table-hover"
                        mat-table
                        [dataSource]="dataSource$ | async"
                        matSort
                        [matSortActive]="(sort$ | async).active"
                        [matSortDirection]="(sort$ | async).direction"
                        matSortDisableClear
                        (matSortChange)="onSortChange($event)">
                        <!-- ID column -->
                        <ng-container [matColumnDef]="column.Id">
                            <th mat-header-cell mat-sort-header class="cell-id" *matHeaderCellDef>
                                ID
                            </th>

                            <td mat-cell *matCellDef="let group" class="cell-id" [class.deleted]="group.isDeleted">
                                <span class="poppins f-w-400">
                                    {{ group.id }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Name column -->
                        <ng-container [matColumnDef]="column.Name">
                            <th mat-header-cell mat-sort-header class="cell-long-name" *matHeaderCellDef>
                                Name
                            </th>

                            <td mat-cell *matCellDef="let group">
                                <a routerLink="{{ group.name }}" matTooltip="Click to manage" matTooltipPosition="above">
                                    <strong>{{ group.name }}</strong>
                                </a>

                                <mat-icon
                                    [inline]="true"
                                    class="v-a-middle ml-05 gold"
                                    matTooltip="Super&nbsp;Administrator group: no restrictions applied ever"
                                    matTooltipPosition="above"
                                    *ngIf="group.isSuperadmin">
                                    star
                                </mat-icon>
                            </td>
                        </ng-container>

                        <!-- Members column -->
                        <ng-container [matColumnDef]="column.Members">
                            <th mat-header-cell *matHeaderCellDef>
                                Members
                            </th>

                            <td mat-cell class="f-w-500" *matCellDef="let group">
                                <ng-container *ngIf="group.members.length === 0">
                                    <span class="dimmed">None</span>
                                </ng-container>

                                <ng-container *ngIf="group.members.length > 0 && group.members.length < 5">
                                    <span class="followed-by-comma" *ngFor="let member of group.members">
                                        <mat-icon [inline]="true" class="v-a-middle metal">person</mat-icon>
                                        <a routerLink="/personnel/accounts/{{ member }}" matTooltip="Click to manage" matTooltipPosition="above">{{ member }}</a>
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="group.members.length >= 5">
                                    <span>
                                        <span class="followed-by-comma" *ngFor="let member of group.members.slice(0, 3)">
                                            <mat-icon [inline]="true" class="v-a-middle metal">person</mat-icon>
                                            <a routerLink="/personnel/accounts/{{ member }}" matTooltip="Click to manage" matTooltipPosition="above">{{ member }}</a>
                                        </span>
                                    </span>

                                    <span class="v-a-middle">
                                        and
                                        <a routerLink="{{ group.name }}" matTooltip="Click to manage" matTooltipPosition="above">
                                            {{ group.members.length - 3 }} more
                                        </a>
                                    </span>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- Member count column -->
                        <ng-container [matColumnDef]="column.MemberCount">
                            <th mat-header-cell mat-sort-header class="cell-number" *matHeaderCellDef>
                                Count
                            </th>

                            <td mat-cell *matCellDef="let group">
                                {{ group.memberCount }}
                            </td>
                        </ng-container>

                        <!-- Deleted column -->
                        <ng-container [matColumnDef]="column.IsDeleted">
                            <th mat-header-cell mat-sort-header class="cell-checkbox" *matHeaderCellDef>
                                Deleted
                            </th>

                            <td mat-cell *matCellDef="let group">
                                {{ group.isDeleted ? 'Yes' : 'No' }}
                            </td>
                        </ng-container>

                        <!-- Date Added column -->
                        <ng-container [matColumnDef]="column.CreatedAt">
                            <th mat-header-cell mat-sort-header class="cell-datetime" *matHeaderCellDef>
                                Date Added
                            </th>

                            <td mat-cell *matCellDef="let group">
                                {{ group.createdAt | date: 'yyyy-MM-dd HH:mm' }}
                            </td>
                        </ng-container>

                        <!-- Date Updated column -->
                        <ng-container [matColumnDef]="column.UpdatedAt">
                            <th mat-header-cell mat-sort-header class="cell-datetime" *matHeaderCellDef>
                                Date Updated
                            </th>

                            <td mat-cell *matCellDef="let group">
                                {{ group.updatedAt ? (group.updatedAt | date: 'yyyy-MM-dd HH:mm') : 'Never' }}
                            </td>
                        </ng-container>

                        <!-- Table rows -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                            [class.dimmed]="loading$ | async"
                            [class.deleted]="row.isDeleted">
                        </tr>
                    </table>

                    <div class="card card-body blank p-0 table-row" *ngIf="(dataSource$ | async)?.data?.length === 0">
                        <div class="inner-text f-s-14 f-w-400" [class.dimmed]="!(loading$ |async)">
                            {{ (loading$ |async) ? 'Loading data from server...' : 'No data to display' }}
                        </div>
                    </div>

                    <mat-paginator
                        [length]="total$ | async"
                        [pageSize]="(page$ | async).pageSize"
                        [pageSizeOptions]="pageSizes"
                        [pageIndex]="(page$ | async).pageIndex"
                        (page)="onPageChange($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
