.c-main { color: #218fcc !important;  }
.black { color: #000 !important; }
.gray { color: #444 !important; }
.light-gray { color: #777 !important; }
.white { color: #fff !important; }
.metal { color: #c4c5d6 !important; }
.red { color: red; }
.gold { color: #ffd700; }
.green { color: #34bfa3; }
.blue { color: #36a3f7; }


