.ml-05, .mx-05 { margin-left: 0.125rem !important; }
.mr-05, .mx-05 { margin-right: 0.125rem !important; }
.mt-05, .my-05 { margin-top: 0.125rem !important; }
.mb-05, .my-05 { margin-bottom: 0.125rem !important; }
