.dimmed {
    opacity: .3;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
}

.dimmed.more {
    opacity: .15;
}
