.pl-05, .px-05 { padding-left: 0.125rem !important; }
.pr-05, .px-05 { padding-right: 0.125rem !important; }
.pt-05, .py-05 { padding-top: 0.125rem !important; }
.pb-05, .py-05 { padding-bottom: 0.125rem !important; }
.pt-075 { padding-top: 0.75rem !important; }

