.toast {
    font-size: 14px !important;
}

.toast-success {
    background-color: #34bfa3;
}

.toast-info {
    background-color: #36a3f7;
}

.toast-warning {
    background-color: #ffb822;
}

.toast-error {
    background-color: #f4516c;
}
