// Material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Styles for daterange datepicker
@import '~saturn-datepicker/bundle.css';

// User-defined styling
@import 'styles/align';
@import 'styles/border';
@import 'styles/card';
@import 'styles/color';
@import 'styles/content';
@import 'styles/d3';
@import 'styles/dialog';
@import 'styles/element';
@import 'styles/font';
@import 'styles/margin';
@import 'styles/markdown';
@import 'styles/menu';
@import 'styles/metronic';
@import 'styles/opacity';
@import 'styles/padding';
@import 'styles/portlet';
@import 'styles/progress';
@import 'styles/select';
@import 'styles/scrollbar';
@import 'styles/tab';
@import 'styles/table';
@import 'styles/timeline';
@import 'styles/toastr';
@import 'styles/tooltip';
@import 'styles/transition';
