.m-heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.m-plus {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: #716aca 2px solid;
    position: relative;
    display: inline;
    float: left;
    margin: 5px 0;
    cursor: pointer;
    opacity: .30;
    transition: opacity .5s linear;
}

.m-plus:hover {
    opacity: 1;
    transition: opacity .5s linear;
}

.m-plus:hover:after {
    opacity: 1;
}

.m-plus:hover:before {
    opacity: 1;
}

.m-plus::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #716aca;
    height: 4px;
    margin-top: -2px;
    top: 50%;
    left: 8px;
    right: 8px;
    z-index: 9;

}

.m-plus::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #716aca;
    width: 4px;
    margin-left: -2px;
    left: 50%;
    top: 8px;
    bottom: 8px;
    z-index: 9;
}

.row {
    margin-top: 14px;
}

.m-metric-select {
    font-size: 1.2em;
    width: 100%;
}

.mat-form-field-label {
    font-size: 1rem;
}

.mat-option-text {
    font-size: 1.2em;
}

.m-btn-metric-type {
    margin: 5px 10px 5px 0;
    padding: 6px 12px;
}

.mat-select-arrow-wrapper {
    float: right;
}

.la {
    font-family: 'LineAwesome', serif;
}

.m-search-icon {
    float: right;
    position: absolute;
    right: 15px;
}

.m-metric-select ::ng-deep .mat-form-field-infix {
    border-top: 5px;
}

.m-metric-select ::ng-deep .mat-form-field-underline {
    display: none;
}

.m-metric-select ::ng-deep .mat-select-trigger .mat-select-value {
    padding-right: 20px;
}

.m-metric-select ::ng-deep .mat-form-field-flex {
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    transition: all 125ms linear;
    // background: linear-gradient(#fff, #efefef);
    background-color: #fff;
}

.m-metric-select.mat-focused ::ng-deep .mat-form-field-flex {
    border: 1px solid #3f51b5;
}

.m-metric-select ::ng-deep mat-icon {
    margin-top: -3px;
    color: #ccc;
    transition: all 125ms linear;
}

.m-metric-select.mat-focused ::ng-deep mat-icon {
    color: #3f51b5;
}

.m-metric-select ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

::ng-deep .mat-select-panel {
    max-height: 62vh !important;
}

.first-row {
    margin-top: 0 !important;
}

::ng-deep .mat-tab-label {
    height: 40px;
}

.m-btn-download {
    padding: 7px 10px;
}

.m-option-font {
    font-weight: 400;
}

.m-option-small {
    font-size: 1rem;
    font-weight: 500;
    font-variant: small-caps;
    color: firebrick;
}

.query-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;

    .query-drop-down-row {
        width: 900px;
        position: relative;
        display: flex;
        align-items: center;

        .m-btn-csv-download {
            position: absolute;
            bottom: -35px;
            right: 0;
            cursor: pointer;
            z-index: 5;
        }
    }

    .query-btn {
        margin: 10px 0 10px 10px;
    }
}

.btn.btn-brand {
    background-color: #218fcc !important;
    border-color: #1e8bc0 !important;
}

.btn-brand.m-btn--air {
    box-shadow: 0px 5px 10px 2px rgba(107, 202, 255, 0.1) !important;
    &:hover {
        box-shadow: 0px 5px 10px 2px rgba(107, 202, 255, 0.19) !important;
    }
}
